body {
    font-family: sans-serif;
    line-height: 1.7;
    font-weight: normal;
    color:#000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color:#000;
    line-height: 1.5;
}
h1 {
    font-size:1.9rem;
}
h2 {
    font-size:1.7rem;
}
h3 {
    font-size:1.4rem;
}
h3 {
    font-size:1.2rem;
}
h1.site-title, h1.site-title a {
    font-weight: bolder;
    color:#000;
    font-size:2.2rem;
}
.header h1, .header h2 {
    line-height: 1rem;
}
.header nav ul.flat li {
    font-weight: bold;
}
a.title {
    font-weight:bold;
}
img {
    margin:10px auto 10px 0;
    padding:1px;
    border:1px solid #ddd;
}
ul, ol {
    padding-left: 1rem;
}
ul li, ol li {
    padding-left:1rem;
}
.markdown ul li ul, .markdown ol li ol {
    margin:0;
    border:none;
}
img {
    margin:1.5rem 0;
}
blockquote {
    margin:2rem 0;
    font-size:1.1rem;
}
pre {
    font-size: 0.9em;
}
.highlight pre {
    background-color: #272822 !important;
    margin:1.5rem 0;
}
pre.code {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: #FAFAFA;
}
.post ul li {
    margin-bottom: 4px;
}
.social-button-area {
    margin:3rem 0 1rem 0;
    text-align: left;
}
.social-button {
    display: inline;
}
.disqus-area {
    margin:2rem 0 1rem;
}
ul.social-button {
    padding-left:0;
}
.social-button li {
    display: inline-block;
    vertical-align: top;
}
.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

ul.pagination {
    padding: 1rem 0;
}
