@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
a:link, a:visited {
  color:#0082ca;
}
body .pure-g [class *="pure-u"] {
  font-family: 'Open Sans', 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
}
body {
  background-color:#fbfbfb;
}
#content {
  max-width:960px;
  margin:0 auto;
  padding:1rem 2rem;
}
@media (max-width: 480px) {
  #content {
    font-size:0.9em;
    padding:1rem;
  }
}
footer {
  margin:1rem 0 2rem;
}
h1 {
  padding-bottom:0.5em;
  border-bottom: 1px dashed #29007d;
  text-align:center;
  width:80%;
  margin:0 auto 1rem;
}
h2 {
  margin-top:0;
}
ul {
  list-style:none;
  padding-left:1rem;
  margin-bottom:2rem;
}
img.profile {
  max-width:230px;
  padding:2px;
  border:1px solid #bbb;
  background-color:#fff;
}
small {
  text-align:left;
  display:block;
  font-size:0.7rem;
}
address {
  padding-top:2rem;
  border-top: 1px dashed #29007d;
  text-align:center;
}
.widget h3 {
  margin:2rem 0 0;
}
.widget ul{
  font-size:0.9rem;
  color:#29007d;
  list-style-type: disc;
}
.widget ul li {
  margin-left:1rem;
}
.clear {
  clear:both;
}
